
#header{
	position:relative;
	margin-top: -10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: #e2d8ff;
	display:block;
}
#navbar{
	position:fixed;
	left: 50%;
	width:100%;
	margin-left: -250px;
	
}
#filler{
	margin-top:50px;
	left: 50%;
	display: block;
	background-color: lightblue;
	height:50px;
}
ul{
	position: fixed;
	list-style-type: none;
	
}
li{
	border: 2px solid #000000;
	font-family: cursive;
	border-radius: 5px 5px;
	background-color: #19198c;
	display: inline;
	padding: 5px;
	margin-right: 10px;
	color: #ffffff;

}

a{
	text-decoration:none;
	
}
body{ 
	background-color: #c9edff;
}